.vs/
Abstracts/bin/
Abstracts/obj/
Backgrounds/bin/
Backgrounds/obj/
ConsoleAppForParsingTests/bin/
ConsoleAppForParsingTests/obj/
CurrencyDatabase/bin/
CurrencyDatabase/obj/
CurrencyDatabase/CurrencyDatabase.dbmdl
CurrencyDatabase/CurrencyDatabase.jfm
CurrencyWebApi/bin/
CurrencyWebApi/obj/
DataStructs/bin/
DataStructs/obj/
Implements/bin/
Implements/obj/
Models/bin/
Models/obj/
MyfinParserImplement/bin/
MyfinParserImplement/obj/
packages/
Add_Data/
